# Environment and configuration files
.envrc
**/envrc
host/openaiserver/.envrc

# Build artifacts and binaries
dist/
bin/
tools/bin
**/cmd/cmd
tools/wrapper
tools/logs/logs
!tools/logs
tools/duckdbserver/duckdbserver
host/openaiserver/openaiserver
host/openaiserver/chatengine/testbin/sampleMCP

# Documentation
docs/node_modules
docs/public

# Development directories
sandbox/

# OS specific files
.DS_Store
