**/envrc
host/openaiserver/.envrc
tools/logs/logs
!tools/logs/
sandbox/
tools/duckdbserver/duckdbserver
tools/wrapper
host/openaiserver/openaiserver
host/openaiserver/chatengine/testbin/sampleMCP
.envrc
# Added by goreleaser init:
dist/
tools/bin
